<div *ngIf="mission" class="component-container">
    <h2>Mission Details</h2>
    <button mat-raised-button color="accent" (click)="goBack()">Back</button>
    <div class="card-container">

        <mat-card class="card-styling">

            <mat-card-header class="header-style">

                <mat-card-title>
                    <h2>{{mission.mission_name}}</h2>
                </mat-card-title>

                <mat-card-subtitle>
                    <label for="mission-year">Launch Year: </label>
                    <label id="mission-year">{{mission.launch_year}}</label>
                </mat-card-subtitle>

            </mat-card-header>

            <mat-card-content class="data-container">

                <img mat-card-image class="responsive-img" src={{mission.links.mission_patch_small}}
                    alt="mission patch small">

                <div class="card-info">
                    <div class="card-info-label">
                        <label for="mission-detail"><b>Launch Site: </b></label>
                    </div>

                    <div class="card-info-data">
                        <label id="mission-detail"> {{mission.launch_site.site_name_long}}</label>
                    </div>
                </div>

                <div class="card-info">
                    <div class="card-info-label">
                        <label for="mission-detail"><b>Details: </b></label>
                    </div>

                    <div class="card-info-data">
                        <label id="mission-detail" *ngIf="mission.details != null"> {{mission.details}}</label>
                        <label id="mission-detail" *ngIf="mission.details == null">None</label>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>

    </div>
</div>