<mat-list class="missions-list">
    <mat-list-item *ngFor="let mission of missions" class="list-item">

        <a routerLink="/detail/{{mission.flight_number}}" class="list-router">
            <mat-card class="card-styling">

                <div class="card-data">
                    <div><label>{{mission.mission_name}}</label></div>
                    <div><label>{{mission.launch_year}}</label></div>
                </div>

            </mat-card>
        </a>
        
    </mat-list-item>
</mat-list>