.missions-list {
    /* Width of top level card */
    width: 40%;
    margin:auto;
}

.list-router{
    text-decoration: none;
    color: black;
    width: 95%;
}

.list-item{
    margin-top: 2%;
    background-color: #fdf1ed;
    border: solid 1px lightgrey;
    box-shadow: lightslategrey 1px 1px;
    border-radius: 10px;
}

.card-data{
    display: flex;
    justify-content: space-between;
}

.card-styling{
    width: 100%;
}